.contact {
    align-items: center;
    background-image: url(/images/Background_Intro.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-block: 200px 128px;
    padding-inline: 120px;

    &>.subtitle-h2 {
        color: var(--purple);
    }

    &>.title-md {
        margin-block: 8px;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 500px;
        margin-top: 48px;

        li {
            align-items: center;
            background-color: var(--gray-400);
            border-radius: 8px;
            color: var(--gray-200);
            display: flex;
            font: var(--text-md);
            gap: 12px;
            justify-content: space-between;
            list-style: none;
            width: 100%;
            padding-block: 20px;
            padding-inline: 20px;

            &:hover {
                border: 1px solid var(--blue);
                svg path {
                    stroke: var(--blue)
                }
            }

            svg.arrow-right {
                width: 20px;
                height: 20px;
                stroke: var(--blue);
            } 
 
            section {
                align-items: inherit;
                display: inherit;
                gap: inherit;

                svg {

                    height: 32px;
                    width: 32px;
                    stroke: var(--gray-300)
                }


            }
        }

    }

}