* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* COLORS */

    /* Principal */
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;

    /* BASE */
    --gray-100: #E2E4E9;
    --gray-200: #C0C4CE;
    --gray-300: #878EA1;
    --gray-400: #292C34;
    --gray-500: #16181D;
    --gray-600: #0D0E11;

    /* FONTS FAMILY */
    --font-asap: "Asap", sans-serif;
    --font-inconsolata: "Inconsolata", monospace;
    --font-maven: "Maven Pro", sans-serif;

    --title-lg: 600 56px/120% var(--font-asap);
    --title-md: 800 24px/120% var(--font-asap);
    --title-sm: 800 16px/120% var(--font-asap);

    --subtitle: 500 20px/120% var(--font-inconsolata);

    --text-md: 500 16px/140% var(--font-maven);
    --text-sm: 500 14px/140% var(--font-maven);

}

body {
    width: 100%;
    background-color: var(--gray-500);
}

.subtitle {
    font: var(--subtitle);
    color: var(--gray-200);
}

.subtitle-h2 {
    font: var(--subtitle);
    color: var(--red);
}


.title-sm {
    font: var(--title-sm);
    color: var(--gray-200);
}

.title-md {
    font: var(--title-md);
    color: var(--gray-100);
}

.title-lg {
    font: var(--title-lg);
    color: var(--gray-100);
}

.span-color {
    color: var(--red);
}

.description {
    font: var(--text-sm);
    color: var(--gray-300);
}

.grid {
    display: grid;
    grid-template: 1fr 1fr 1fr;
    gap: 16px;
}