* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* COLORS */

    /* Principal */
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;

    /* BASE */
    --gray-100: #E2E4E9;
    --gray-200: #C0C4CE;
    --gray-300: #878EA1;
    --gray-400: #292C34;
    --gray-500: #16181D;
    --gray-600: #0D0E11;

    /* FONTS FAMILY */
    --font-asap: "Asap", sans-serif;
    --font-inconsolata: "Inconsolata", monospace;
    --font-maven: "Maven Pro", sans-serif;

    --title-lg: 600 56px/120% var(--font-asap);
    --title-md: 800 24px/120% var(--font-asap);
    --title-sm: 800 16px/120% var(--font-asap);

    --subtitle: 500 20px/120% var(--font-inconsolata);

    --text-md: 500 16px/140% var(--font-maven);
    --text-sm: 500 14px/140% var(--font-maven);

}

body {
    max-width: 1366px;
    background-color: var(--gray-500);
}

.subtitle {
    font: var(--subtitle);
    color: var(--gray-200);
}

.title-lg {
    font: var(--title-lg);
    color: var(--gray-100);
}

.span-color {
    color: var(--red);
}

.description {
    font: var(--text-sm);
    color: var(--gray-300);
}


/* Font family
    --font-family: 'Archivo', sans-serif;
    --h1: 800 24px/135% var(--font-family);
    --h2: 800 16px/135% var(--font-family);
    --h3: 800 14px/140% var(--font-family);
    --text: 400 16px/160% var(--font-family);
    --text-span: 600 14px/145% var(--font-family);
    --text-sm: 400 14px/140% var(--font-family); */