header {
    background-image: url('/images/Background_Intro.png');
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    section {
        text-align: center;
        padding-inline: 163px;
    }

}