header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: url('/images/Background_Intro.png');
    background-repeat: no-repeat;
    background-size: cover; */

    section {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-inline: 160px;
        margin-block: 120px;

        ul {
            display: flex;
            justify-content: center;
            gap: 8px;
            list-style: none;

            li {
                display: flex;
                gap: 8px;
                background-color: var(--gray-400);
                padding: 16px 8px;
                align-items: center;
                color: var(--gray-200);
                font: var(--text-md);
                max-width: 138px;
                max-height: 40px;
                border-radius: 100vh;

                img {
                    height: 24px;
                    width: 24px;
                    /* filter: drop-shadow(1px -1px 2px var(--gray)); */
                }
            }
        }

        .profile-container {
            position: relative;
            width: 88px;
            height: 88px;
        }

        #profile-photo {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 2px solid var(--red);
            object-fit: cover;
            padding: 5px;
        }

        .badge-icon {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            bottom: 5px;
            right: 5px;
            width: 5px;
            height: 30px;
        }

    }

}